body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.hangman-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.hangman {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hangman div {
    width: 20px;
    height: 20px;
    background-color: black;
    margin: 5px;
}

.palavra {
    font-size: 24px;
    margin-top: 20px;
}

.tentativa-input {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

.tentativa-button {
    font-size: 18px;
    padding: 5px 10px;
    margin-top: 10px;
}

.mensagem {
    font-size: 24px;
    margin-top: 20px;
}
