body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 68px;
}

.hangman-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.hangman {
    display: flex;
    align-items: center;
}

.hangman div {
    width: 20px;
    height: 20px;
    background-color: black;
    margin: 5px;
    border-radius: 15px;
}

.palavra-secreta {
    font-size: 60px;
    margin-top: 100px;
}

.tentativa-input {
    font-size: 26px;
    text-align: center;
    margin-top: 50px;
}

.tentativa-button {
    font-size: 24px;
    padding: 5px 10px;
    margin-top: 10px;
}

.mensagem {
    font-size: 24px;
    margin-top: 20px;
}
